.navImage {
  height: 60px;
  width: 60px;
  margin-top: -15px;
}

.navbar {
  background-color: white;
}
#navtext {
  color: #009444;
  font-size: 20px;
}
.social-icons {
  margin: 0px 10px 0 10px;
  color: #009444;
}

.mainJumbotron {
  background-color: white;
  background-size: cover;
}
#logo {
  margin-top: -100px;
  margin-bottom: -100px;
  height: 700px;
  width: 1400px;
}
@media (min-width: 1428px) and (max-width: 2560px) {
   #logo {
    height: 1400px;
    width: 2800px;
  }
}
@media (max-width: 568px) {
   #logo {
    margin-bottom: -230px;
    margin-top: -150px;
 }
}
.landingButton {
  background-color: #009444;
  color: white;
}

@media (max-width: 736px) {
   #landingPageButtonEnglish {
    margin-top: 30px;
    background-color: #009444;
    color: white;
  }
}
#logoEnglish{
  margin-top: -200px;
}
@media screen and (max-width: 468px) {
   #logoEnglish{
    margin-top: -70px;
   }
}
@media (min-width: 468px) and (max-width: 991px) {
   #logoEnglish{
    margin-top: -100px;
   }
}
.infoJumbotron {
  background-color: #009444;
  background-size: cover;
}
.mainTitle {
  color: #009444;
  font-size: 6vw;
  margin-top: 20px;
}

#mainTitleLimon {
  color: #009444;
  font-size: 17vw;
  font-family: 'Mr Dafoe', cursive;
  margin-top: -10px;
}

.featureText {
  color: #009444;
  font-size: 70px;
  margin-bottom: 60px;
  
}

.featureImage {
  width: 300px;
}

.paletaJumbotron {
  background-image: url(/images/popsicleSticks.jpeg);
  background-size: cover;
  height: 500px;
}

.paletaMain {
  margin-top: 280px;
  font-size: 70px;
}

#paletaButton {
  background-color: #009444;
  color: white;
  margin-top: 30px;
}
.storeInfoHeader {
  font-weight: bold !important;
  text-decoration: underline !important; 
  color: white;
}
.storeInfo {
  color: white;
}
#map{
  height: 500px;
}

/*Menu Page*/


.iceCreamBarJumbotron {
  background-image: url(/images/popsicleSticks.jpeg);
  background-size: cover;
}
.fruitBarJumbotron {
  background-image: url(/images/paletaFreezer.jpg);
}
.iceCreamJumbotron {
  background-image: url(/images/iceCream.jpg);
}
#menuHeaders {
  color: #009444;
}
.products {
  font-size: 20px;
}