.navImage {
  height: 50px;
  width: 50px;
  margin-top: -15px;
}

.navbar {
  background-color: white;
}

.mainJumbotron {
  background-image: url(../images/limes.jpg);
  background-size: cover;
  height: 500px;
  margin-top: -5px;
}

.mainTitle {
  color: white;
  font-size: 8vw;
}

#mainTitleLimon {
  color: white;
  font-size: 20vw;
  font-family: 'Mr Dafoe', cursive;
  margin-top: -20px;
}

.featureText {
  color: #30B300;
  font-size: 7vw;
}

.featureImage {
  width: 300px;
}