doctype html
html(ng-app='store')
  head
    title Paleteria Limon
    link(href='https://fonts.googleapis.com/css?family=Mr+Dafoe', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/default.css')
    script(src='https://use.fontawesome.com/62e7e9ea00.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body

    // NavBar

    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
           img.navImage(src='../images/navLemon.png')

        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a#navtext(href='').text-center Home
            li
              a#navtext(href='/public/menuEnglish.html').text-center  Menu
            li
              a#navtext(href='').text-center  Location
            li
              a#navtext(href='').text-center  Contact Us
            li
              a#navtext(href='').text-center  Follow Us

    // Main Jumbotron
    .jumbotron.mainJumbotron
      .container-fluid
        //- .row
        //-   .col-md-3.col-md-offset-9.col-sm-12.text-center
        //-     a(href='https://www.facebook.com/paleterialimon/')
        //-       i.fa.fa-facebook-square.fa-3x.social-icons
        //-     a(href='')
        //-       i.fa.fa-instagram.fa-3x.social-icons
        //-     a(href='https://twitter.com/paleterialimon')
        //-       i.fa.fa-twitter-square.fa-3x.social-icons
        //-     a(href='https://www.yelp.com/biz/paleteria-limon-maywood-2')
        //-       i.fa.fa-yelp.fa-3x.social-icons
    
        .row
          .col-md-12.text-center
            h2.mainTitle PALETERIA
          .col-md-12.text-center
            h1#mainTitleLimon Limon

    // Store Info

    .jumbotron.infoJumbotron
      .container
        .row
          .col-md-4.col-sm-12.text-center
            p.storeInfo  Store Location
            p 6100 Atlantic Blvd 
            p Suite D
            p Maywood, CA 90270
            br
            p.storeInfo  Phone
            p (323) 773-8806
          .col-md-4.col-sm-12.text-center
            p.storeInfo  Store Hours
            p Monday 11am - 8pm
            p Tuesday 11am - 8pm
            p Wednesday 11am - 8pm
            p Thursday 11am-8pm
            p Friday 11am - 8pm
            p Saturday 11am - 8pm
            p Sunday 11am - 7:30pm
          .col-md-4.col-sm-12
            .embed-responsive.embed-responsive-16by9
              .col-md-4.col-sm-12.embed-responsive-item#storeMap
    
    // Store Features

    .container
        .row
          .col-md-12.text-center
            h1#iceCreamBars Ice Cream Bars
        .row
          .col-md-4.text-center
            ul(style='list-style: none')
              li Strawberry
              li Dried Fruit
              li Bubble Gum
              li Cajeta de Membrillo
              li Caramel
              li Rice
              l1 Mamey
          .col-md-4.text-center
            ul(style='list-style: none')
              li Banana
              li Pistachio
              li Strawberries & Cream
              li Pecan
              li Coconut
              li Coffee
              l1 Pine Nuts
          .col-md-4.text-center
            ul(style='list-style: none')
              li Curdled Milk w/ Cinammon
              li Chocolate
              li Prune
              li Yellow Cherry
              li Cookies & Cream
              li Vanilla Raisins
              li Vanilla

        .row
          .col-md-12.text-center
            h1 Fruit Bars
        .row
          .col-md-4.text-center
            ul(style='list-style: none')
              li Melon
              li Cucumber w/ Chile
              li Mango
              li Hibiscus
              li Passion Fruit/Strawberry
              li Passion Fruit
              li Watermelon
              li Pineapple
          .col-md-4.text-center
            ul(style='list-style: none')
              li Mango w/ Chile
              li Soursop
              li Coconut
              li Guava
              li Kiwi w/ Apple
              li Currant
              li Grape
              li Bubble Gum
          .col-md-4.text-center
            ul(style='list-style: none')
              li Strawberry w/ Kiwi
              li Pineaaple w/ Chile
              li Tamarind w/ Chamoy
              li Tamarind
              li Lemon
              li Yellow Cherry
              li Strawberry

        .row
          .col-md-12.text-center
            h1 Ice Cream 
        .row
          .col-md-4.text-center
            ul(style='list-style:none')
              li Chocolate Chip
              li Strawberry
              li Pistachio
              li Coconut
              li Dried Fruit
              li Cookies & Cream
              li Lemon
          .col-md-4.text-center
            ul(style='list-style:none')
              li Vanilla
              li Nuez
              li Coconut Pineapple
              li Caramel
              li Mocha Almond Fudge
              li Chocolate
              li Mint Chip
          .col-md-4.text-center
            ul(style='list-style:none')
              li Strawberry Cheesecake
              li Black Cherry
              li Rocky Road
              li Cotton Candy 
              li Rainbow
              li Bubble Gum

        .row
          .col-md-12.text-center
            h1 Raspados (Shaved Ice)
        .row
          .col-md-4.col-md-offset-2.text-center
            ul(style='list-style:none')
              li Prune
              li Tamarind
              li Strawberry
              li Pineapple
              li Lemon 
              li Mango
          .col-md-4.text-center
            ul(style='list-style:none')
              li Pecan
              li Guava
              li Vanilla
              li Caramel
              li Cocunut
        .row
          .col-md-12.text-center
            h1 Skippy
        .row
          .col-md-12.text-center
            h2 (Shaved Ice w/ Chile & Lemon)
        .row
          .col-md-4.col-md-offset-4.text-center
            ul(style='list-style:none')
              li Original (Tamarind & Prune)
              li Mango
              li Pineapple
              li Strawberry
              li Lemon








   
   



    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='../js/app.js')
    script(src='../js/default.js')
