doctype html
html(ng-app='store')
  head
    title Paleteria Limon
    link(href='https://fonts.googleapis.com/css?family=Mr+Dafoe', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/default.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img.navImage(src='../images/navLemon.png')
    // Main Jumbotron
    .jumbotron.mainJumbotron
      .container
        .row
          .col-md-12.text-center
            h2.mainTitle PALETERIA
          .col-md-12.text-center
            h1#mainTitleLimon Limon
    // Store Features

    .container
        .row
          .col-md-12.text-center
            h1 Ice Cream Bars
        .row
          .col-md-4.text-center
            ul(style='list-style: none')
              li Strawberry
              li Dried Fruit
              li Bubble Gum
              li Cajeta de Membrillo
              li Caramel
              li Rice
              l1 Mamey
          .col-md-4.text-center
            ul(style='list-style: none')
              li Banana
              li Pistachio
              li Strawberries & Cream
              li Pecan
              li Coconut
              li Coffee
              l1 Pine Nuts
          .col-md-4.text-center
            ul(style='list-style: none')
              li Curdled Milk w/ Cinammon
              li Chocolate
              li Prune
              li Yellow Cherry
              li Cookies & Cream
              li Vanilla Raisins
              li Vanilla

        .row
          .col-md-12.text-center
            h1 Fruit Bars
        .row
          .col-md-4.text-center
            ul(style='list-style: none')
              li Melon
              li Cucumber w/ Chile
              li Mango
              li Hibiscus
              li Passion Fruit/Strawberry
              li Passion Fruit
              li Watermelon
              li Pineapple
          .col-md-4.text-center
            ul(style='list-style: none')
              li Mango w/ Chile
              li Soursop
              li Coconut
              li Guava
              li Kiwi w/ Apple
              li Currant
              li Grape
              li Bubble Gum
          .col-md-4.text-center
            ul(style='list-style: none')
              li Strawberry w/ Kiwi
              li Pineaaple w/ Chile
              li Tamarind w/ Chamoy
              li Tamarind
              li Lemon
              li Yellow Cherry
              li Strawberry

   
   



      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
      script(src='//code.jquery.com/jquery-2.1.4.min.js')
      script(src='../js/app.js')
      script(src='../js/default.js')
