doctype html
html
  head
    title Paleteria Limon Menu
    link(href='https://fonts.googleapis.com/css?family=Mr+Dafoe', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/default.css')
    script(src='https://use.fontawesome.com/62e7e9ea00.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body

   

    // Main Jumbotron
    .jumbotron
      .container-fluid
        .row
          .col-md-12.text-center
            h2.mainTitle PALETERIA
          .col-md-12.text-center
            h1#mainTitleLimon Limon
    
    // Menu
    .jumbotron.iceCreamBarJumbotron
      .container-fluid
        .row
          .col-md-12.text-center
            h1#menuHeaders Ice Cream Bars
    .container
      .row
        .col-md-4.col-sm-12.text-center
          p.products Strawberry
          p.products Dried Fruit
          p.products Bubble Gum
          p.products Cajeta de Membrillo
          p.products Caramel
          p.products Rice
          p.products Mamey
        .col-md-4.col-sm-12.text-center
          p.products Banana
          p.products Pistachio
          p.products Strawberries & Cream
          p.products Pecan
          p.products Coconut
          p.products Coffee
          p.products Pine Nuts
        .col-md-4.col-sm-12.text-center
          p.products Curdled Milk w/ Cinammon
          p.products Chocolate
          p.products Prune
          p.products Yellow Cherry
          p.products Cookies & Cream
          p.products Vanilla Raisins
          p.products Vanilla

    .jumbotron.fruitBarJumbotron
      .container-fluid
        .row
          .col-md-12.text-center
            h1#menuHeaders Fruit Bars
    .container
      .row
        .col-md-4.col-sm-12.text-center
          p.products Melon
          p.products Cucumber w/ Chile
          p.products Mango
          p.products Hibiscus
          p.products Passion Fruit/Strawberry
          p.products Passion Fruit
          p.products Watermelon
          p.products Pineapple
        .col-md-4.col-sm-12.text-center
          p.products Mango w/ Chile
          p.products Soursop
          p.products Coconut
          p.products Guava
          p.products Kiwi w/ Apple
          p.products Currant
          p.products Grape
          p.products Bubble Gum
        .col-md-4.col-sm-12.text-center
          p.products Strawberry w/ Kiwi
          p.products Pineaaple w/ Chile
          p.products Tamarind w/ Chamoy
          p.products Tamarind
          p.products Lemon
          p.products Yellow Cherry
          p.products Strawberry

    .jumbotron.iceCreamJumbotron
      .container-fluid
        .row
          .col-md-12.text-center
            h1#menuHeaders Ice Cream
    .container
      .row
        .col-md-4.col-sm-12.text-center
            p.products Chocolate Chip
            p.products Strawberry
            p.products Pistachio
            p.products Coconut
            p.products Dried Fruit
            p.products Cookies & Cream
            p.products Lemon
        .col-md-4.col-sm-12.text-center
            p.products Vanilla
            p.products Nuez
            p.products Coconut Pineapple
            p.products Caramel
            p.products Mocha Almond Fudge
            p.products Chocolate
            p.products Mint Chip
        .col-md-4.col-sm-12.text-center
            p.products Strawberry Cheesecake
            p.products Black Cherry
            p.products Rocky Road
            p.products Cotton Candy 
            p.products Rainbow
            p.products Bubble Gum

      .row
        .col-md-12.text-center
          h1 Raspados (Shaved Ice)
      .row
        .col-md-4.col-md-offset-2.text-center
          ul(style='list-style:none')
            li Prune
            li Tamarind
            li Strawberry
            li Pineapple
            li Lemon 
            li Mango
        .col-md-4.text-center
          ul(style='list-style:none')
            li Pecan
            li Guava
            li Vanilla
            li Caramel
            li Cocunut
      .row
        .col-md-12.text-center
          h1 Skippy
      .row
        .col-md-12.text-center
          h2 (Shaved Ice w/ Chile & Lemon)
      .row
        .col-md-4.col-md-offset-4.text-center
          ul(style='list-style:none')
            li Original (Tamarind & Prune)
            li Mango
            li Pineapple
            li Strawberry
            li Lemon








   
   



    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='../js/app.js')
    script(src='../js/default.js')
