doctype html
html
  head
    title Paleteria Limon
    link(href='https://fonts.googleapis.com/css?family=Mr+Dafoe', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/default.css')
    script(src='https://use.fontawesome.com/62e7e9ea00.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(ng-app = 'myApp')

    // NavBar

    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
           img.navImage(src='../images/navbarLogo.svg')

        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a#navtext(href='#menu').text-center  Menu
            li
              a#navtext(href='#contactUs').text-center  Llámanos
            li
              a#navtext(href='#followUs').text-center  Conéctate

    .jumbotron.closed
      .container
        .row
          .col-md-12.text-center.closedText
            p Paleteria Limon estara cerrado desde el 28 de Noviembre al 9 de Diciembre
            p Estaremos abiertos el 10 de Diciembre a las 11am

    // Main Jumbotron
    .jumbotron.mainJumbotron
      .container
        .row
          .col-md-12.center-block
            img#logoEnglish.img-responsive(src='../images/PltLimonLogo.svg')
    .container-fluid#paletaPicContainer
      .row
        .col-md-12.col-sm-12.col-lg-12
          img.img-responsive#menu(src='../images/paletaFreezer.jpg')

    // Menu
    .jumbotron.menuHeader
      .container 
        .row
          h1.text-center#menuHeaderText Menu
    .container
      .row
        .col-md-4.col-md-offset-4
          img.img-responsive.center-block.productHeader.headers(src='../images/paletasLecheHeader@2x.png')
      .row
        .col-md-4.col-sm-12.text-center
          p.products Fresa
          p.products Fruta Seca
          p.products Chicle
          p.products Cajeta de Membrillo
          p.products Cajeta
          p.products Arroz
          p.products Mamey
        .col-md-4.col-sm-12.text-center
          p.products Banana
          p.products Pistachio
          p.products Fresa c/ Crema
          p.products Nuez
          p.products Coco
          p.products Cafe
          p.products Piñon
        .col-md-4.col-sm-12.text-center
          p.products Chongos
          p.products Chocolate
          p.products Ciruela
          p.products Nance
          p.products Cookies & Cream
          p.products Vanilla c/ Pasas
          p.products Vanilla
    .container
      .row
        .col-md-4.col-md-offset-4
          img.img-responsive.center-block.productHeader.headers(src='../images/paletasAguaHeader@2x.png')
      .row
        .col-md-4.col-sm-12.text-center
          p.products Melon
          p.products Pepino c/ Chile
          p.products Mango
          p.products Jamaica
          p.products Maracuya c/ Fresa
          p.products Maracuya
          p.products Sandia
          p.products Piña
        .col-md-4.col-sm-12.text-center
          p.products Mango c/ Chile
          p.products Guanabana
          p.products Coco
          p.products Guayaba
          p.products Kiwi c/ Manzana
          p.products Grosella
          p.products Uva
          p.products Chicle
        .col-md-4.col-sm-12.text-center
          p.products Fresa c/ Kiwi
          p.products Piña c/ Chile
          p.products Tamarindo c/ Chamoy
          p.products Tamarindo
          p.products Limon
          p.products Nance
          p.products Fresa
    .container
      .row
        .col-md-4.col-md-offset-4
          img.img-responsive.center-block.productHeader.headers(src='../images/nieveHeader@2x.png')
      .row
        .col-md-4.col-sm-12.text-center
            p.products Chocolate Chip
            p.products Fresa
            p.products Pistachio
            p.products Coco
            p.products Fruta Seca
            p.products Cookies & Cream
            p.products Limon
        .col-md-4.col-sm-12.text-center
            p.products Vanilla
            p.products Nuez
            p.products Coco c/ Piña
            p.products Cajeta
            p.products Mocha Almond Fudge
            p.products Chocolate
            p.products Mint Chip
        .col-md-4.col-sm-12.text-center
            p.products Strawberry Cheesecake
            p.products Black Cherry
            p.products Rocky Road
            p.products Cotton Candy 
            p.products Rainbow
            p.products Chicle
    .container
      .row
        .col-md-4.col-md-offset-4
          img.img-responsive.center-block.productHeader.headers(src='../images/raspadosHeader@2x.png')
      .row
        .col-md-4.col-md-offset-2.col-sm-12.text-center
            p.products Ciruela
            p.products Tamarindo
            p.products Fresa
            p.products Piña
            p.products Limon
            p.products Mango
        .col-md-4.col-sm-12.text-center
            p.products Nuez
            p.products Guayaba
            p.products Vanilla
            p.products Cajeta
            p.products Coco
    .container
      .row
        .col-md-4.col-md-offset-4
          img.img-responsive.center-block.productHeader.headers(src='../images/SkippyHeader@2x.png')
      .row
        .col-md-12.text-center
          h3 (Raspado c/ Chile y Limon)
      .row
        .col-md-4.col-md-offset-4.text-center
            p.products Original (Tamarindo y Ciruela)
            p.products Mango
            p.products Piña
            p.products Fresa
            p.products Limon
    .container
      .row
        .col-md-4.col-md-offset-4
          img.img-responsive.center-block.productHeader.headers(src='../images/deliciasHeader@2x.png')
      .row.otherGoodies
        .col-md-4.col-md-offset-2.col-sm-12.text-center
          p.products Subananas
          p.products Bionicos
          p.products Fresa c/ Crema
          p.products Nachos
          p.products Smoothies 
          p.products Iced Coffee
        .col-md-4.col-sm-12.text-center
          p.products Elote en Vaso
          p.products Tostilocos
          p.products Tamales de Elote
          p.products Hot Cheetos c/ Queso
          p.products Malteadas
          p.products Dulces y Bebidas

    // Store Info

    .jumbotron.infoJumbotron#contactUs
      .container
        .row
          .col-md-12.col-sm-12
            h2.contactUsHeader.text-center Llámanos
        .row
          .col-md-3.col-sm-12.text-center
            p.storeInfoHeader  Horario
            p.storeInfo Lunes 11am - 7pm
            p.storeInfo Martes CERRADO
            p.storeInfo Miercoles 11am - 7pm
            p.storeInfo Jueves 11am-7pm
            p.storeInfo Viernes 11am - 7pm
            p.storeInfo Sabado 11am - 7pm
            p.storeInfo Domingo 11am - 7pm
          .col-md-3.col-sm-12.text-center
            p.storeInfoHeader  Dirección
            p.storeInfo 6100 Atlantic Blvd 
            p.storeInfo Suite D
            p.storeInfo Maywood, CA 90270
            br
            p.storeInfoHeader  Telefono
            p.storeInfo (323) 773-8806
          .col-md-6.col-sm-12.mapBox
            .embed-responsive.embed-responsive-16by9
              .col-md-4.col-sm-12.embed-responsive-item#map
    // Follow Us

    .container.followUs
      .row
        .col-md-12.col-sm-12
          h2.text-center.followUsHeader#followUs Conéctate
      .row
        .col-md-12.col-sm-12.text-center
          a(href='https://www.facebook.com/paleterialimon/')
            i.fa.fa-facebook-square.fa-3x.social-icons
          //- a(href='')
          //-   i.fa.fa-instagram.fa-3x.social-icons
          a(href='https://twitter.com/paleterialimon')
            i.fa.fa-twitter-square.fa-3x.social-icons
          a(href='https://www.yelp.com/biz/paleteria-limon-maywood-2')
            i.fa.fa-yelp.fa-3x.social-icons
      .row
        .col-md-12.pull-left
          p.design Website Built By: JC Dev Shop
    
    // Footer
    
    nav.navbar.navbar-default.footer
        


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='../js/default.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDeex4WsPTjCxYEED4nmyXqxb7KCmxOndQ&callback=initMap')   
    script(src='../js/controllers.js')
